.cart {
    margin: 30px;
    
}

.cart table {
    width: 100%;
    text-align:justify;
}

.cart button {
    max-width:fit-content;
    font-size: 8;
    background-color: var(--grey-light);
    color: var(--grey-main);
}

.cart button:hover {
    background-color: var(--grey-light);
    color: var(--white);
}

.booksRow {

}

.head {
    font-weight: 700;
    font-size: 18px;
    color: var(--grey-dark)
}

.quant{
    grid-area: quant;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.number {
    color: var(--grey-main);
}

.title {
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
}

.buttonR {
    background-color: var(--grey-main);
}

.total {
    font-weight: 700;
    font-size: 20px;
}

