.cart {
    margin: 30px;
    display: flex;
    flex-direction: column;
}

.cart table {
    width: 100%;
    text-align:justify;
}

.booksRow button {
    max-width:fit-content;
    font-size: 8;
    background-color: var(--grey-light);
    color: var(--grey-main);
}

.booksRow button:hover {
    background-color: var(--grey-light);
    color: var(--white);
}

.head {
    font-weight: 700;
    font-size: 18px;
    color: var(--grey-dark)
}

.quant{
    grid-area: quant;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.number {
    color: var(--grey-main);
}

.title {
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
}

.buttonR {
    background-color: var(--grey-main);
}

.total {
    font-weight: 700;
    font-size: 20px;
}

.table {
    margin-top: 15px;
}

.dummy {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 15px;
    color: var(--grey-dark);
}

.checkout {
    margin-top: 10px;
    margin: 0;
}

.checkout button {
    background-color: var(--red);
    width: auto;
    margin: 0; 
}

.checkout button:hover {
    background-color: var(--red-hover);
}
