.book {
    display: grid;
    grid-template-columns: 200px auto 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
    "cover title title"
    "cover author author"
    "cover about about"   
    "cover price addBtn";
    margin: 30px;
    column-gap: 20px;
    row-gap: 10px;
    border-bottom: 1px solid var(--grey-main);
    padding-bottom: 10px;
}


.cover {
    grid-area: cover;
    background-color: var(--primary);
    min-height: 240px;
    max-height: 240px;
    overflow: hidden;
    border-radius: 5px;
}

.cover img {
    max-width:100%;
    height: auto;
    object-fit: contain;
}

.title {
    grid-area: title;
    font-size: 26px;
    line-height: 30px;
    font-weight: 700;
}

.author {
    grid-area: author;
    font-size: 22px;
    line-height: 26px;
}

.about {
    grid-area: about;
    font-size: 15px;
    line-height: 18px;
}

.price {
    grid-area: price;
    font-size: 36px;
    line-height: 40px;
    font-weight: 700;
}

.addBtn {
    grid-area: addBtn;
    
    
}

button {
    border-radius: 5px;
    font-size: 20px;
    line-height: 26px;
    color: var(--white); 
    background-color: var(--secondary);   
}

@media (max-width: 765px) {
    .book {
        grid-template-columns: 200px 1fr;
        grid-template-rows: auto auto 1fr auto auto;
        grid-template-areas:
        "cover title"
        "cover author"
        "cover about"   
        "cover price"
        "cover  addBtn";
    }
}
