html,
body {
	margin: 0;
	padding: 0;
	color: var(--black);
	background: #F5F6F8;

	font-family: 'Noto Sans KR', sans-serif;
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	--black: #1c4b8d;
	--grey-light:#EBEBEB;
	--white: white;
	--primary: #E5FF80;
	--primary-hover: #D4EC78;
	--red: #FC836D;
	--green: #E5FF80;
	--green-light: #C8F8E4;
	--font-family: 'Noto Sans KR', sans-serif;
}