.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.preloader {
    max-height: 80px;
    max-width: 80px;
}

.preloaderText {
    padding-top: 10px;
    color: var(--grey-dark);
}