.header {
    display: grid;
    background-color: var(--primary);
    border-bottom: 1px solid var(--grey-main);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    grid-template-columns: 1fr auto;
    grid-template-areas: 
    "logo cartInfo .";
    column-gap: 20px;
    padding: 15px;
}

.logo {
    grid-area: logo;
    color: var(--grey-dark);
    background-color: var(--secondary);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--secondary);
    font-weight: 500;
    font-size: 20px;  
}

.logo:hover {
    border-color: var(--grey-main);
}

.cartInfo {
    grid-area: cartInfo;
}

@media (max-width: 765px) {

    .cartInfo {
        visibility: hidden;
    }
    
    .header {
        grid-template-columns: minmax(320px, 1fr);
        grid-template-areas: 
        "logo";
    }

    
}